#video {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.landing {
  display: grid;
  margin-right: 2vw;
  margin-left: 2vw;
  grid-column-gap: 1vh;
  grid-template-columns: repeat(12, 1fr);
}

.landing img {
  grid-column: 1 / 2;
  margin: 20vh -30% -50% 50%;
}

.landing h1 {
  font-weight: 700;
  font-size: 5.33rem;
  color: white;
  margin: 0;
  margin-top: 25vh;
  grid-column: 2 / 4;
}

.landing p {
  color: white;
  grid-column: 2 / 6;
}
.header-orange {
  color: var(--orange);
}
