.card {
  background: var(--blue);
  height: 20vw;
  width: 20vw;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 30px 30px;
}

.card p {
  width: 74%;
  text-align: center;
  color: var(--white);
}

.service-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-right: 2vw;
  margin-left: 2vw;
  grid-column-gap: 1vh;
  margin-bottom: 100px;
}
