.fulltruck-page-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-right: 2vw;
  margin-left: 2vw;
  grid-column-gap: 1vh;
  margin-top: 100px;
  margin-bottom: 100px;
}
.fulltruck-illustration {
  grid-column: 3 / span 4;
}

.fulltruck-content {
  grid-column: 7 / span 4;
  text-align: right;
}

.fulltruck-heading {
  font-size: 3em;
  font-weight: 500;
  margin: -55px 65px 0 0;
}

.fulltruck-heading span {
  color: var(--orange);
}

.fulltruck-content p {
  margin-right: 65px;
}
