.value-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1vw;
  margin-top: 100px;
}

.value-section-header {
  grid-column: 5 / span 4;
  font-size: 2.5em;
}
.value-section-header p {
  margin: -30px 0 0 0;
  text-align: center;
}

.value-section-header img {
  margin-left: 55px;
}

.value-section-content {
  margin-top: 50px;
  grid-column: 3 / span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1vw;
}

.value-section-content p {
  text-align: center;
  grid-column: span 4;
  font-weight: 300;
  line-height: 153%;
}

.value-section-content img {
  grid-column: 6 / span 3;
  width: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 700px) {
  .value-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .value-section-header p {
    font-size: 2.5rem;
    text-align: center;
  }
  .value-section-header img {
    margin-left: -35px;
  }
  .value-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-top: 30px;
  }

  .value-section-content img {
    margin-top: 30px;
    width: 40vw;
  }
}

@media screen and (max-width: 699px) {
  .value-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .value-section-header p {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }

  .value-section-header img {
    display: none;
  }

  .value-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin-top: 30px;
  }

  .value-section-content p {
    font-size: 12px;
  }

  .value-section-content img {
    margin-top: 30px;
    width: 50vw;
  }
}
